---
layout: default
permalink: 10C-practice-problems-OLD/index.html
title: 10C Practice Problems
---
<h1>{{ page.title }}</h1>
<p>The following material is aligned with the Alberta Education High School Program of Study in Mathematics for the grade 10 course Math 10C.</p>

<div class="accordion" id="accordionPracticeProblems">
  {% include accordion-level.html unit="Prereqs" course="10C" number="Zero" %}
  {% include accordion-level.html unit="Trigonometry" course="10C" number="One" %}
  {% include accordion-level.html unit="Measurement" course="10C" number="Two" %}
  {% include accordion-level.html unit="Exponents & Radicals" course="10C" number="Three" %}
  {% include accordion-level.html unit="Polynomials" course="10C" number="Four" %}
  {% include accordion-level.html unit="Relations & Functions" course="10C" number="Five" %}
  {% include accordion-level.html unit="Linear Relations & Functions" course="10C" number="Six" %}
  {% include accordion-level.html unit="Systems of Linear Equations" course="10C" number="Seven" %}
</div>
