---
layout: assignment
permalink: 10C-assignments/index.html
title: Math 10C Assignments
---

{% for entry in site.data.assignments reversed %}
  {% if entry.class == "10C" %}
      <p>
      {{ entry.date }}
      {{ entry.unit }}
      {{ entry.pages }}<br>
      {% for item in entry.web %}
        {% for post in site.posts %}
          {% if post.url == item.url %}
            <a href="{{ post.url }}" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">{{ post.title }}</a>
          {% endif %}
        {% endfor %}
        <br>
      {% endfor %}
      </p>
  {% endif %}
{% endfor %}
