---
layout: assignment
permalink: 10C-assignments/index.html
title: Math 10C Assignments
---

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Unit</th>
      <th scope="col">Assignment</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in site.data.assignments reversed %}
      {% if entry.class == "10C" %}
        <tr>
          <td>{{ entry.date }}</td>
          <td>{{ entry.unit }}</td>
          <td>{{ entry.pages }}
          {% for item in entry.web %}
            {% for post in site.posts %}
              {% if post.url == item.url %}
                , <a href="{{ post.url }}">{{ post.title }}</a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
