---
layout: default
permalink: 10C/index.html
title: Math 10C (2019/20 Semester 2)
---
<h1>{{ page.title }}</h1>
<!-- <p>The following material is aligned with the Alberta Education High School Program of Study in Mathematics for the grade 10 course Math 10C.</p> -->

<!-- {% include alert-20-2.html %} -->

<h2>Course information</h2>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Course Outline
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        {% include course-outline-10C.html %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Time table
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        {% include timetable.html %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Tutoring
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        {% include tutoring.html %}
      </div>
    </div>
  </div>
</div> <!-- Close accordion component -->

<h2>Practice Problems</h2>
<!-- Start of all accordion code (all accordion components must go inside this div) -->
<div class="accordion" id="accordionExample">
  {% include accordion-level.html unit="Prereqs" course="10C" number="Zero" %}
  {% include accordion-level.html unit="Trigonometry" course="10C" number="One" %}
  {% include accordion-level.html unit="Measurement" course="10C" number="Two" %}
  {% include accordion-level.html unit="Exponents & Radicals" course="10C" number="Three" %}
  {% include accordion-level.html unit="Polynomials" course="10C" number="Four" %}
  {% include accordion-level.html unit="Relations & Functions" course="10C" number="Five" %}
  {% include accordion-level.html unit="Linear Relations & Functions" course="10C" number="Six" %}
  {% include accordion-level.html unit="Systems of Linear Equations" course="10C" number="Seven" %}
</div>
