---
layout: default
permalink: 10C/index.html
title: Math 10C
---
<h1>{{ page.title }}</h1>
<!-- <p>The following material is aligned with the Alberta Education High School Program of Study in Mathematics for the grade 10 course Math 10C.</p> -->


<div class="row">
  <div class="col-sm-6">
    {% for entry in site.data.donow %}
      {% if entry.class == "10C" %}
        {% for post in site.posts %}
          {% if post.url == entry.url %}

            <a href="{{ entry.url }}" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Do Now {{ entry.date }}</a>
            <a href=/10C-practice-problems class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Practice Problems</a>

          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="col-sm-6">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdwaO-v24ZeYT0xhC2EJOrFd5xE2W3f09qakIst7hMTwyoD9Q/viewform?usp=sf_link" class="btn btn-danger btn-lg btn-block active" role="button" aria-pressed="true">Report an absence</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSexjhQVZnugiiDS_OPPDfAF-KhLMkZfvVaS5CUa7Kx-zmYwvA/viewform?usp=sf_link" class="btn btn-success btn-lg btn-block active" role="button" aria-pressed="true">Reassessment request</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdCdtRU6TspMxJC8wApdaxa7G9XNRGxLB9MzEG5SApWVrwC8Q/viewform?usp=sf_link" class="btn btn-warning btn-lg btn-block active" role="button" aria-pressed="true">Late-write request</a>
    <a href="https://docs.google.com/spreadsheets/d/1cTFbuCSv8HVkf1d-I_SI6tpA0A6Eu6R-SUtZZjMFmGk/edit?usp=sharing" class="btn btn-info btn-lg btn-block active" role="button" aria-pressed="true">Assignment completion</a>
  </div>

</div>

<!--
<h2>Course information</h2>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingCourseOutline">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseCourseOutline" aria-expanded="false" aria-controls="collapseCourseOutline">
          Course Outline
        </button>
      </h5>
    </div>
    <div id="collapseCourseOutline" class="collapse" aria-labelledby="headingCourseOutline" data-parent="#accordionExample">
      <div class="card-body">
        {% include course-outline-10C.html %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTimeTable">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTimeTable" aria-expanded="false" aria-controls="collapseTimeTable">
          Time table
        </button>
      </h5>
    </div>
    <div id="collapseTimeTable" class="collapse" aria-labelledby="headingTimeTable" data-parent="#accordionExample">
      <div class="card-body">
        {% include timetable.html %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTutoring">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTutoring" aria-expanded="false" aria-controls="collapseTutoring">
          Tutoring
        </button>
      </h5>
    </div>
    <div id="collapseTutoring" class="collapse" aria-labelledby="headingTutoring" data-parent="#accordionExample">
      <div class="card-body">
        {% include tutoring.html %}
      </div>
    </div>
  </div>
</div> <!-- Close accordion component -->
