---
layout: default
permalink: 10C/index.html
title: Grade 10
---
<h1>{{ page.title }}</h1>
<p>The following material is aligned with the Alberta Education High School Program of Study in Mathematics for the grade 10 course Math 10C.</p>

<!-- Start of all accordion code (all accordion components must go inside this div) -->
<div class="accordion" id="accordionExample">

  <!--
  Unit: Trigonometry
  -->

  <!-- Calculate and display the total number of posts -->
  {% assign totalcount = 0 %}
  {% for post in site.posts %}
    {% if post.published  %}
      {% if post.course == "10C" %}
        {% if post.category == "Trigonometry" %}
          {% assign totalcount = totalcount | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Trigonometry ({{ totalcount }} practice problems)
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">

        <table class="table table-hover">
          <tbody>
            {% for post in site.posts %}
              {% if post.course == "10C" %}
                {% if post.category == "Trigonometry" %}
                  <tr>
                    <td><a href="{{ post.url }}">{{ post.title }}</td>
                    <td>{{ post.description }}</td>
                  </tr>
                {% endif  %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div> <!-- End of all accordion code -->


<!--
Unit: Measurement
-->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">Unit: Measurement</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.posts %}
      {% if post.course == "10C" %}
        {% if post.category == "Measurement" %}
          <tr>
            <td><a href="{{ post.url }}">{{ post.title }}</td>
            <td>{{ post.description }}</td>
          </tr>
        {% endif  %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<!--
Unit: Exponentes & Radicals
-->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">Unit: Exponents & Radicals</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.posts %}
      {% if post.course == "10C" %}
        {% if post.category == "Exponents & Radicals" %}
          <tr>
            <td><a href="{{ post.url }}">{{ post.title }}</td>
            <td>{{ post.description }}</td>
          </tr>
        {% endif  %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<!--
Unit: Polynomials
-->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">Unit: Polynomials</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.posts %}
      {% if post.course == "10C" %}
        {% if post.category == "Polynomials" %}
          <tr>
            <td><a href="{{ post.url }}">{{ post.title }}</td>
            <td>{{ post.description }}</td>
          </tr>
        {% endif  %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<!--
Unit: Relations & Functions
-->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">Unit: Relations & Functions</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.posts %}
      {% if post.course == "10C" %}
        {% if post.category == "Relations & Functions" %}
          <tr>
            <td><a href="{{ post.url }}">{{ post.title }}</td>
            <td>{{ post.description }}</td>
          </tr>
        {% endif  %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<!--
Unit: Linear relations & Functions
-->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">Unit: Linear Relations & Functions</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.posts %}
      {% if post.course == "10C" %}
        {% if post.category == "Linear Relations & Functions" %}
          <tr>
            <td><a href="{{ post.url }}">{{ post.title }}</td>
            <td>{{ post.description }}</td>
          </tr>
        {% endif  %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<!--
Unit: Systems of linear equations
-->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">Unit: Systems of Linear Equations</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.posts %}
      {% if post.course == "10C" %}
        {% if post.category == "Systems of Linear Equations" %}
          <tr>
            <td><a href="{{ post.url }}">{{ post.title }}</td>
            <td>{{ post.description }}</td>
          </tr>
        {% endif  %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>
