---
layout: default
permalink: 20-2/review/index.html
title: "Math 20-2: Review"
---
<h1>{{ page.title }}</h1>

{% for entry in site.data.20-2 %}
  {{ entry }}
{% endfor %}

<p class="text-center"><a href="review" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">0. Review</a></p>

<p class="text-center"><a href="reasoning" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">1. Reasoning</a></p>

<p class="text-center"><a href="properties-of-angles" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">2. Properties of Angles</a></p>

<p class="text-center"><a href="trigonometry" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">3. Trigonometry</a></p>

<p class="text-center"><a href="proportional-reasoning" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">4. Proportional Reasoning</a></p>

<p class="text-center"><a href="radicals" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">5. Radicals</a></p>

<p class="text-center"><a href="quadratic-functions" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">6. Quadratic Functions</a></p>

<p class="text-center"><a href="quadratic-equations" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">7. Quadratic Equations</a></p>

<p class="text-center"><a href="statistics" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">8. Statistics</a></p>

{% for entry in site.data.20-2 %}
  <h2>{{ entry.unit }}</h2>
  <h3>{{ entry.topic }}</h3>
  {% for item in entry.web %}
    {{ item.url }}
  {% endfor %}
{% endfor %}
