---
layout: default
permalink: 30-2-practice-problems-OLD/index.html
title: 30-2 Practice Problems
---
<h1>{{ page.title }}</h1>
<p>The following material is aligned with the Alberta Education High School Program of Study in Mathematics for the grade 12 diploma course Math 30-2.</p>

<div class="accordion" id="accordionPracticeProblems">
  {% include accordion-level.html unit="Polynomial Functions" course="30-2" number="Zero" %}
  {% include accordion-level.html unit="Exponential Functions" course="30-2" number="One" %}
  {% include accordion-level.html unit="Rational Expressions" course="30-2" number="Two" %}
  {% include accordion-level.html unit="Set Theory" course="30-2" number="Three" %}
  {% include accordion-level.html unit="Logarithmic Functions" course="30-2" number="Four" %}
  {% include accordion-level.html unit="Counting Methods" course="30-2" number="Five" %}
  {% include accordion-level.html unit="Probability" course="30-2" number="Six" %}
  {% include accordion-level.html unit="Sinusoidal Functions" course="30-2" number="Seven" %}
</div>
