---
layout: default
---
<h1>Chamber of Secrets</h1>
<h2>Learning Outcomes?<h2>

<!-- Identify unique topics in learning-outcomes.yaml-->
{% assign topics_string = ""%}
{% for entry in site.data.learning-outcomes %}
  {% if entry.course == "10C" %}
    {{ entry.topic | append: topics_string }}
    {{ ", " | append: topics_string }}
  {% endif %}
{% endfor %}
{% assign topics_array = topics_string | split: ", " %}


<div class="col-sm-6">
  {% for entry in topics_array %}
    {{ entry }}<br>
  {% endfor %}
</div>
