---
layout: default
permalink: grade10/index.html
title: Grade 10
---
<h1>{{ page.title }}</h1>
<p>The following material is aligned with the Alberta Education High School Program of Study in Mathematics for the grade 10 course Math 10C.</p>

<table class="table table-hover  table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">Unit: Relations & Functions</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.posts %}
      {% if post.course == "10C" %}
        {% if post.category == "Relations & Functions" %}
          <tr>
            <td><a href="{{ post.url }}">{{ post.title }}</td>
            <td>{{ post.description }}</td>
          </tr>
        {% endif  %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<table class="table table-hover  table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">Unit: Polynomials</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.posts %}
      {% if post.course == "10C" %}
        {% if post.category == "Polynomials" %}
          <tr>
            <td><a href="{{ post.url }}">{{ post.title }}</td>
            <td>{{ post.description }}</td>
          </tr>
        {% endif  %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>
