<div class="card">
  <div class="card-header">
    Exam Weights
  </div>
  <div class="card-body">
    The exams are weighted as follows:
    <ul>
      <li>Unit Finals: 10%</li>
      <li>Final Exam: 20%</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Reassessment of Learning Outcomes
  </div>
  <div class="card-body">
    Students who complete 90% of assigned class work and were unable to demonstrate their understanding of 1 or 2 learning outcomes on a unit test will be provided a reasessment opportunity on the practice test day following the unit final to attempt the 1 or 2 learning outcomes again. Students wanting to get reassessed must demostrate a 90% assignment completion and make the request in person to their teacher no later than 24-hours prior to the reassessment opportunity.
  </div>
</div>

<div class="card">
  <div class="card-header">
    Replacement Exams
  </div>
  <div class="card-body">
    Replacement Exams provide an opportunity for students to re-challenge previously evaluated outcomes. Replacement exams are offered during the course on the dates indicated in the timeline. To qualify for a replacement exam a student must have an assignment completion of at least 90% in all the units the replacement exam covers. Students that qualify may request a replacement exam through the class website.
  </div>
</div>

<div class="card">
  <div class="card-header">
    Missed Exams
  </div>
  <div class="card-body">
    You are expected to write tests on the scheduled dates. Failure to meet this expectation will result in a referral to the student support team or to the administration. There are no late writes on replacement exams and reassessments.
  </div>
</div>
