<div class="card">
  <div class="card-header">
    Exam Weights
  </div>
  <div class="card-body">
    The exams are weighted as follows:
    <ul>
      <li>Unit Finals: 10%</li>
      <li>Final Exam: 20%</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Reassessment
  </div>
  <div class="card-body">
    Reassessment provides a second opportunity for students to get assessed on specific learning outcomes in past units. Reassessments are offered during the course on the dates indicated in the timeline. To qualify for reassessment a student must have an assignment completion of at least 90%. Students that qualify may request a reassessment opportunity through the class website.
  </div>
</div>

<div class="card">
  <div class="card-header">
    Replacement Exams
  </div>
  <div class="card-body">
    Replacement Exams provide an opportunity for students to re-challenge previously evaluated outcomes. Replacement exams are offered during the course on the dates indicated in the timeline. To qualify for a replacement exam a student must have an assignment completion of at least 90% in all the units the replacement exam covers. Students that qualify may request a replacement exam through the class website.
  </div>
</div>

<div class="card">
  <div class="card-header">
    Missed Exams
  </div>
  <div class="card-body">
    You are expected to write tests on the scheduled dates. Failure to meet this expectation will result in a referral to the student support team or to the administration. There vare no late writes on replacement exams and reassessments.
  </div>
</div>
