<div class="card">
  <div class="card-header">
    Classroom Expectations
  </div>
  <div class="card-body">
    <ul>
      <li>Everyone has chosen to come here to learn.</li>
      <li>Your teacher is here to help you learn.</li>
      <li>Music and cell phones are distracting during lessons - both for you and others. Earbuds are not allowed during instructional time and during exams.</li>
      <li>Listening to music, watching videos or playing video games is not permitted during class.</li>
      <li>Be punctual and attend regularly.</li>
      <li>Keep complete and neat notes.</li>
      <li>Ask questions, seek assistance and be an active participant in class.</li>
      <li>Complete assignments in a timely manner.</li>
    </ul>
  </div>
</div>

{% include exams-10C.html %}

<div class="card">
  <div class="card-header">
    Assignments
  </div>
  <div class="card-body">
    <p>You will be given you various assignments throughout the course, including (but not limited to) Practice Problames, Do Nows, Exit Slips, Practice Test, Review Assignments etc. You are expected to complete all assignments within the alloted time.</p>

    <p>Your teacher will be collecting and checking your assignments on a regular (and random) basis. Based on marked assignments your Assignment Completion rate (ACR) will be calculated for each unit.<p>
  </div>
</div>


{% include success.html %}
{% include attendance.html %}

<div class="card">
  <div class="card-header">
    Materials
  </div>
  <div class="card-body">
    The following materials are required for every class:
    <ul>
      <li>Electronic device (cell phone, tablet or laptop) with online access to this web site.</li>
      <li>Pencil, eraser, pens, highlighters, clear plastic ruler.</li>
      <li>Approved graphing calculator (TI-84 Plus is recommended for 10C and all -2 and -3 courses, a scientific calculator will suffice for all -3 courses).</li>
      <li>Loose-leaf paper for notes and assignments.</li>
      <li>Three-ringed binder to keep papers and workbooks organized.</li>
    </ul>
  </div>
</div>
