<div class="card">
  <div class="card-header">
    Exam Weights
  </div>
  <div class="card-body">
    The exams are weighted as follows:
    <ul>
      <li>Unit Finals: 10%</li>
      <li>Final Exam: 20%</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Exam Protocol
  </div>
  <div class="card-body">
    <ul>
      <li>Cell phones and smart watches must be turned off and placed in your jacked or bag.</li>
      <li>Bags and jackets must be placed on the floor in the back of the classroom.</li>
      <li>Sit in your assigned seat.</li>
      <li>Get a bubble sheet and formula sheet.</li>
      <li>Set up the exam dividers.</li>
      <li>No bathroom breaks during exams.</li>
      <li>Do not get up during the exam. Put your hand up if you have a question or need assistance.</li>
      <li>Reset your calculator and show your teacher when he is handing you the exam and when you are handing in your completed exam.</li>
      <li>You must stay at least 45 minutes.</li>
      <li>No late starts after 45 minutes or after the first person has left.</li>
      <li>Arrive early and be ready to start writing the exam when the clss starts. The exam ends and the end of the block. There is no extra time for writing exams unless you have an approved accomodation for extra time (speak to your AP for more details). If you have an approved accomodation for extra time and arive late to the exam you will forfit the extra time accomodation.</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Replacement Exams
  </div>
  <div class="card-body">
    Replacement Exams provide an opportunity for students to re-challenge previously evaluated outcomes. Replacement exams are offered during the course on the dates indicated in the timeline. There are no late writes of replacement exams.
  </div>
</div>

<div class="card">
  <div class="card-header">
    Missed Exams
  </div>
  <div class="card-body">
    You are expected to write tests on the scheduled dates. Failure to meet this expectation will result in a referral to the student support team or to the administration.
  </div>
</div>
