<!-- Footer -->
<footer class="text-muted">
  <div class="container">

  <div class="card border-info mb-3">
    <div class="card-header">Share the love</div>
    <div class="card-body text-info">
      <div class="sharethis-inline-share-buttons"></div>
    </div>
  </div>

    <p align="center">
        MathForFuture.com - Math for a Changing World.<br>
        &#9400; {{ site.time | date: '%Y' }} by <a href="/images/listen-to-the-science.jpg">The Peas Room</a> under the terms of the <a href="/license/">MIT license</a>.
  </div>
</footer>
<!-- END Footer -->
