<header>
  {% if page.title == "mathforfuture.com" %}
    <img src="/logo/math-for-future.png" width=100%>
  {% endif %}
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #367D45;">
    <a class="navbar-brand text-white" href="/">mathforfuture.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand text-white" href="/10C/">Math 10C</a>
        <a class="navbar-brand text-white" href="/20-2/">Math 20-2</a>
        <a class="navbar-brand text-white" href="/30-2/">Math 30-2</a>
        <!--
        <a class="nav-item nav-link text-white" href="/about/">About</a>
        <div class="float-right">
          <a class="nav-item nav-link text-white" href="https://twitter.com/mathforfuture"><img src="/images/twitter.png" width=25></a>
        </div>
        -->
      </div>
    </div>

  </nav>
</header>
