<header>
  <img src="./images/warmingstripes.png" width=100%>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="http://mathforfuture.com/" class="navbar-brand d-flex align-items-center">

        <?xml version="1.0" encoding="iso-8859-1"?>
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <strong>mathforfuture.com</strong>
      </a>
    </div>
  </div>
</header>
