---
layout: post
title: Domain and range 6
course: 10C
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>The speed, $v$, meters per second, of a freely falling object after it has fallen through a distance of $h$ meters from the point of release can be expressed as $v=4.4 \sqrt{h}$. State the domain and range in both set and interval notation.</p>
<ol type="A">
  <li>$y=\fraction{1}{x}$</li>
  <li>$y=x^2$</li>
  <li>$$</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
