---
layout: post
title: Representing Relations 8
course: 10C
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Describe a possib;e scenario for the graphs given below.</p>

<h6>A.</h6>
<iframe src="https://www.desmos.com/calculator/5sz6o9v8cs?embed" width="500px" height="500px" style="border: 1px solid #ccc" frameborder=0></iframe>

<h6>B.</h6>

<h6>C.</h6>

<h6>D.</h6>

<h6>E.</h6>

<h6>F.</h6>

<h6>G.</h6>

<h6>H.</h6>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
