---
layout: post
title: Polynomial functions 2
category: Polynomials
description:
tags: Skill building
level: moderate
grade: 12
course: 30-2
sourcetitle:
sourceurl:
qrcode:
video:
published: true
---
<p>For each of the following functions determine the,
  <ul>
    <li>degree</li>
    <li>leading coefficient</li>
    <li>numerical constant<li>
    <li>x-intercept(s)</li>
    <li>y-intercept</li>
    <li>domain</li>
    <li>range</li>
    <li>end bahaviour</li>
    <li>coordinates of turning point</li>
</p>

<ol>
  <li>$g(x) = -6x^2+4x-2$</li>
  <li>$h(x) = -x^3+x+4$</li>
  <li>$f(x) = (x+1)(x+2)$</li>
  <li>$k(x) = 2x^2+6x+4</li>
  <li>$p(x) = x^3-2x^2+6x+4</li>
</ol>

{% capture solution %}
  <h3>A.</h3>
  <p></p>

  <h3>B.</h3>
  <p></p>

  <h3>C.</h3>
  <p></p>

  <h3>D.</h3>
  <p></p>

  <h3>E.</h3>
  <p></p>
{% endcapture %}
{% include_relative solution.html content=solution %}



  <!-- Solution template
  {% capture solution %}

  {% endcapture %}
  {% include_relative solution.html content=solution %}
  -->
