---
layout: post
title: Position and Velocity 12
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Sketch a single continuous position-time function with the following features included, with each feature labelled and interpreted in the context of a moving object.
<ul>
  <li>Three positive roots</li>
  <li>One maximum and one minimum</li>
  <li>Positive displacement from the origin</li>
  <li>Negative displacement from the origin</li>
  <li>Point at $v(t) < 0 \cap s(t) < 0$</li>
  <li>Point at $v(t) < 0 \cap s(t) > 0$</li>
  <li>Point at $v(t) > 0 \cap s(t) < 0$</li>
  <li>Point at $v(t) > 0 \cap s(t) > 0$</li>
  <li>Point at $v(t) = 0 \cap s(t) > 0$</li>
  <li>Point at $v(t) = 0 \cap s(t) < 0$</li>
</ul
</p>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
