---
layout: post
title: Linear Functions and Tangents 2
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<!-- Two column template -->
<div class="container">
  <div class="row">
    <div class="mt-3 col-md-6">
      <p>For the function $y=x^2-5x$, estimate the tangent slope at the point $P(2,-6)$ using technology. Include a sketch of the general scant line and the tangent line.</p>
    </div>

    <div class="mt-3 col-md-6">
      <iframe src="https://www.desmos.com/calculator/wmzepvrwhj?embed" width="500px" height="500px" style="border: 1px solid #ccc" frameborder=0></iframe>
    </div>
  </div>
</div>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
