---
layout: post
title: Non-permissible Values 1
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>In each case, write a rational expression with the given variable and non-permissible value.</p>

<ol type="A">
  <li>variable is $x$, non-permissible value is 0</li>
  <li>variable is $b$, non-permissible value is 1</li>
  <li>variable is $a$, non-permissible value is \fraction{3}{4}</li>
  <li></li>
</ol>

<h3>A.</h3>
<p>...</p>

<h3>B.</h3>
<p>...</p>

<!-- Two column template -->
<div class="container">
  <div class="row">
    <div class="mt-3 col-md-6">
      ...
    </div>

    <div class="mt-3 col-md-6">
      ...
    </div>
  </div>
</div>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
====
