---
layout: post
title: Multiplying and Dividing Rational Expressions 2
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Simplify and state the non-permissible value as restrictions on the variable</p>

<ol type="A">
  <li>$$\fraction{8x^2}{25} \times \fraction{50}{2x^3}$$</li>
  <li>$$\fraction{6x^3}{27x^4} \times \fraction{18x}{15}$$</li>
  <li>$$\left( \fraction{x}{24x^5} \right) (-14x^2)$$</li>
</ol>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
