---
layout: post
title: The Chain Rule 2
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Differentiate.</p>

<!-- Multi-column template -->
<div class="container">
  <div class="row">
    <div class="mt-3 col-md-4">
      <h4>A.</h4>
      <p>$$f(x) = (x^3-8x+2)^6$$</p>
    </div>

    <div class="mt-3 col-md-4">
      <h4>B.</h4>
      <p>$$y = \fraction{1}{\sqrt{3x^2-4x+1}}$$</p>
    </div>

    <div class="mt-3 col-md-4">
      <h4>C.</h4>
      <p>$$y = \left[ x^3-7+(5x+1)^4 \right]^9$$</p>
    </div>
  </div>
</div>

{% capture solution %}
{% include trig-dog-working-on-solution.html %}
{% endcapture %}
{% include_relative solution.html content=solution %}
