---
layout: post
title: The Chain Rule 20
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<p>Given $f(x)=(2x+1)^5 (x^3-x+1)^4$;
<ol type="A">
  <li>Sketch $f(x)$. Use <a href="https://www.desmos.com/calculator" target="_blank">Desmos</a> to help you visualize the graph before sketching.</li>
  <li>Predict $f'(x)$ by superimposing a sketch of it onto the graph of $f(x)$.</li>
  <li>Differentiate $f(x)$. Answer in fully factoried form. {% include_relative hint-modal1.html content="Use the Product Rule before using the Chain Rule." %}.</li>
  <li>Solve $f'(x)=0$ using the Zero Product Theorem by graphically solving each factor for $x$ using <a href="https://www.desmos.com/calculator" target="_blank">Desmos</a>.</li>
  <li></li>
</ol>

{% capture solution %}
{% endcapture %}
{% include_relative solution.html content=solution %}
