---
layout: post
title: "Graphing Sinusoidal Functions 1
learningoutcomes:
  - code:
sourcetitle:
sourceurl:
video: na
---
<ol type="A">
  <li>Complete the following table of values for domain $0^{\circ} \leq x \leq 360^{\circ}$. Give your answers to two decimal places when necessary.</li>
  <li>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>$x$</td>
          <td>$y=\cos{x}$</td>
        </tr>
        <tr>
          <td>$0^{\circ}$</td>
          <td></td>
        </tr>
        <tr>
          <td>$30^{\circ}$</td>
          <td></td>
        </tr>
        <tr>
          <td>$60^{\circ}$</td>
          <td></td>
        </tr>
        <tr>
          <td>$90^{\circ}$</td>
          <td></td>
        </tr>
        <tr>
          <td>$120^{\circ}$</td>
          <td></td>
        </tr>
        <tr>
          <td>$150^{\circ}$</td>
          <td></td>
        </tr>
        <tr>
          <td>$180^{\circ}$</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </li>
</ol>

<h3>A.</h3>
<p>...</p>

<h3>B.</h3>
<p>...</p>

<!-- Two column template -->
<div class="container">
  <div class="row">
    <div class="mt-3 col-md-6">
      ...
    </div>

    <div class="mt-3 col-md-6">
      ...
    </div>
  </div>
</div>

{% capture solution %}

{% include trig-dog-working-on-solution.html %}

{% endcapture %}
{% include_relative solution.html content=solution %}
====
