{% for entry in site.data.donow %}
<p>page.course = {{ page.course }}, entry.class = {{ entry.class }}, entry.url = {{ entry.url }}, page.url = {{ page.url }}</p>
  {% if page.course == entry.class %}
    {% if entry.url != page.url %}
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h2>Solution</h2>
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">

             {{ include.content }}

            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
