{% for entry in site.data.donow %}
  {% if page.course == entry.class %}
    {% if entry.url != page.url %}
      <p align="right"><a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Solution</a></p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          {{ include.content }}

          {% if page.video != nil %}
            <iframe width="560" height="315" src="{{ page.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          {% endif %}

        </div>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}

<!-- Info accordion -->
<p align="right"><a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseMeta" role="button" aria-expanded="false" aria-controls="collapseMeta">Info</a></p>
<div class="collapse" id="collapseMeta">
  <div class="card card-body">
    <p align="right">
      <h1>{{ page.title }}</h1>
      <h2>Grade: {{ page.grade }}, Course: {{ page.course }}, Unit: {{ page.category }}</h2>
      <h2>www.mathforfuture.com{{ site2.url }}{{ page.url }} <h2>>
      {% include report-errors.html %} <br>
      {% if page.sourcetitle != nil %}
        Based on: <a href="{{ page.sourceurl }}">{{ page.sourcetitle }}</a><br>
      {% endif %}
    </p>

    <p align="right">
      MathForFuture.com - Math for a Changing World.<br>
      &#9400; {{ site.time | date: '%Y' }} by <a href="/images/listen-to-the-science.jpg">The Peas Room</a> under the terms of the <a href="/license/">MIT license</a>.
    </p>
  </div>
</div>
