<!--
 _     _     _               _          _   _                     _
| |   (_)   | |             | |        | | | |                   (_)
| |    _ ___| |_ ___ _ __   | |_ ___   | |_| |__   ___   ___  ___ _  ___ _ __   ___ ___
| |   | / __| __/ _ | '_ \  | __/ _ \  | __| '_ \ / _ \ / __|/ __| |/ _ | '_ \ / __/ _ \
| |___| \__ | ||  __| | | | | || (_) | | |_| | | |  __/ \__ | (__| |  __| | | | (_|  __/
\_____|_|___/\__\___|_| |_|  \__\___/   \__|_| |_|\___| |___/\___|_|\___|_| |_|\___\___|
-->

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    {% include navbar.html %}
    <main role="main">

      <div class="album py-5 bg-white">
        <div class="container">

          <div class="alert alert-danger" role="alert">
            <h1 class="alert-heading">Classes cancelled!</h1>
            <p>The Alberta Government has cancelled all classes indefinitely across the province. This means that Edmonton Public Schools will be closed to students starting Monday, March 16. Staff will still attend work. More information will be shared as it becomes avaliable. Make sure to monitor this class web page for updates.</p>

            <p>For more information:
              <ul>
                <li><a href="https://www.alberta.ca/coronavirus-info-for-albertans.aspx">Coronavirus info for Albertans</a></li>
                <li><a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19.html">Coronavirus disease information from the Government of Canada</a></li>
              </ul>
            </p>
          </div>

          {{ content }}
        </div>
      </div>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
