<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    {% include navbar.html %}
    <main role="main">
      <div class="album py-5 bg-white">
        <div class="container">
          {{ content }}

          <div class="card border-info">
            <div class="card-header">Share the love</div>
            <div class="card-body text-info">
              <div class="sharethis-inline-share-buttons"></div>
            </div>
          </div>

        </div>
      </div>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
