<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    {% include navbar.html %}
    <main role="main">

      <div class="album py-5 bg-white">
        <div class="container">

          <div class="alert alert-danger" role="alert">
            <h1 class="alert-heading">Updated Tuesday March 16, 10:30 am</h1>
            <p>Dear students,</p>
            <p>As you are aware due to the COVID-19 pandemic the Alberta Government has made the decision to cancel all classes indefinitely across the province. This means that Edmonton Public Schools and Centre High will be closed to students for the forseable future.</p>

            <p>It’s natural that you might be feeling anxious and frightened and I know you must have many questions about how this will unfold and what will happen to your classes and to your future plans. Here is what we know today.</p>

            <p>All instruction will be paused for this week and for spring break. Currently EPSB and CHC are operating under the assumption that classes will continue in some shape or form after the spring break. We are currently working on figuring out how this look, but it will likely be in an online format. I will post more information on the class website as soon as we know more.</p>

            <p>Make sure you check your class web page regularly for updates regarding your math class. Please note that different classes and different schools may end up doing things differently. Your best source for how this class will proceed will be the class website (<a href="http://www.mathforfuture.com">www.mathforfuture.com</a>).</p>

            <p>I encourage you to stay updated on the latest information from Edmonton Public Schools Website, Alberta Health Services and the Public Health Agency of Canada. Be patient, stay updated and follow the directions of authorities.</p>

            <p>If you have any questions or concerns, or just want to touch base, feel free to email me (<a href="mailto:mario.pineda@epsb.ca">mario.pineda@epsb.ca</a>).</p>

            <p>Stay safe and stay healthy,</p>

            <p>Dr. P.</p>

            <p>For more information:
              <ul>
                <li><a href="https://epsb.ca/">EPSB</a></li>
                <li><a href="https://www.albertahealthservices.ca/">Alberta Health Services</a></li>
                <li><a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19.html">Public Health Agency of Canada</a></li>
                <li><a href="https://www.alberta.ca/coronavirus-info-for-albertans.aspx">Coronavirus info for Albertans</a></li>
                <li><a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19.html">Coronavirus disease information from the Government of Canada</a></li>
              </ul>
            </p>
          </div>

          {{ content }}
        </div>
      </div>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
