---
layout: default-post
---
<!-- Info accordion -->
<p align="right"><a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseMeta" role="button" aria-expanded="false" aria-controls="collapseMeta">Info</a></p>
<div class="collapse" id="collapseMeta">
  <div class="card card-body bg-transparent border-0">
    <p align="left">
      <h1 class="display-1">{{ page.title }}</h1>
      <img src="logo/warmingstripes.png">"
      <h1 class="display-4">Unit: {{ page.category }}</h1>
      <h1 class="display-4">Grade: {{ page.grade }}</h1>
      <h1 class="display-4">Course: {{ page.course }}</h1>
      <p>&nbsp;</p>
      <h1 class="display-4">mathforfuture.com{{ site2.url }}{{ page.url }} </h1>
    </p>
    <p align="right">
      {% include report-errors.html %} <br>
      {% if page.sourcetitle != nil %}
        Based on: <a href="{{ page.sourceurl }}">{{ page.sourcetitle }}</a><br>
      {% endif %}
    </p>
  </div>
</div>

$$\require{newcommand}$$
$$\newcommand{\fraction}[2]{\displaystyle\frac{#1}{#2}}$$

<h1>{{ page.title }}</h1>
{{ content }}
